/*
 * Globals
 */

/* Links */
a{
  color: #D9DEC4;
  text-decoration: none;
  }
a:focus,
a:hover {
  color: #B9DA30;
  text-decoration: none;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #D9DEC4;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #303335;
  border: 1px solid #B9DA30;
  padding-top: 2em;
}

.btn-default:hover{
  color: #303335;
  background-color: #B9DA30;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #303335;
  font-family: 'Sarala', sans-serif;
  /*background: url("https://download.unsplash.com/photo-1428263197823-ce6a8620d1e1");*/
  background: url('img/bg.jpg');
  background-size: cover;
}
body {
  color: #303335;
  text-align: center;
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

input{ 
    text-align:center;
    height: 4em; 
    font-size: 2em;
}

ul{
  list-style: none;
}

li{ 
}

.form-control {
  height: 4em;
  border: 2px solid #B9DA30;
  color: #303335;
}

.form-control:focus {
  border: 4px solid #B9DA30;
  /*box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);*/
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.container{
  padding-top: 2em;
  color: #D9DEC4;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container { /*, .dm-container*/
  margin-right: auto;
  margin-left: auto;
  /*opacity: 1;*/
}

.dm-container{
  margin-right: auto;
  margin-left: auto;
  opacity: .75;
  background-color: #303335;
  color: #B0B3B5;
  padding-bottom: 2em;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.buttonp{
  margin-top: 2em;
}

.inner.cover{
  opacity: 0;
}

.well {
  background-color: #303335;
  opacity: .75;
  text-align: center;
  height: 8em;
}

.meter{
  width: 10%;
  background-color: red; 
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.cover h1{
  font-family: 'Bowlby One', cursive;
  letter-spacing: .33em;
  font-size: 3em;
  color: #D9DEC4;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
  background-color: #303335; 
  color: #B0B3B5;
  opacity: 25%;
  padding-bottom: 4em; 
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #D9DEC4; /* IE8 proofing */
  color: #D9DEC4;
  background-color: #303335;
  font-family: 'Bowlby One', cursive;
  letter-spacing: .1em;
}



/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
  .col-md-3 {
    width: 50%;
  }
}
